<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Lichess Improve</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    </head>
    <body>
        <header>
            <h1>Lichess Improve</h1>
        </header>
        <div class="game_info">
            <input class="text_pgn_game"/>
            <button class="btn_start_analyse">Analyse</button>
            <p class="message_pgn_game">Example:'SjvccDfr'</p>
        </div>
        <table class="chessboard">
            <tbody>
                <tr>
                    <th></th>
                    <th class="column_letter">a</th>
                    <th class="column_letter">b</th>
                    <th class="column_letter">c</th>
                    <th class="column_letter">d</th>
                    <th class="column_letter">e</th>
                    <th class="column_letter">f</th>
                    <th class="column_letter">g</th>
                    <th class="column_letter">h</th>
                </tr>
                <tr>
                    <th class="row_number">8</th>
                    <td id = "a8" class="chessboard"></td>
                    <td id = "b8" class="chessboard"></td>
                    <td id = "c8" class="chessboard"></td>
                    <td id = "d8" class="chessboard"></td>
                    <td id = "e8" class="chessboard"></td>
                    <td id = "f8" class="chessboard"></td>
                    <td id = "g8" class="chessboard"></td>
                    <td id = "h8" class="chessboard"></td>
                </tr>
                <tr>
                    <th class="row_number">7</th>
                    <td id = "a7" class="chessboard"></td>
                    <td id = "b7" class="chessboard"></td>
                    <td id = "c7" class="chessboard"></td>
                    <td id = "d7" class="chessboard"></td>
                    <td id = "e7" class="chessboard"></td>
                    <td id = "f7" class="chessboard"></td>
                    <td id = "g7" class="chessboard"></td>
                    <td id = "h7" class="chessboard"></td>
                </tr>
                <tr>
                    <th class="row_number">6</th>
                    <td id = "a6" class="chessboard"></td>
                    <td id = "b6" class="chessboard"></td>
                    <td id = "c6" class="chessboard"></td>
                    <td id = "d6" class="chessboard"></td>
                    <td id = "e6" class="chessboard"></td>
                    <td id = "f6" class="chessboard"></td>
                    <td id = "g6" class="chessboard"></td>
                    <td id = "h6" class="chessboard"></td>
                </tr>
                <tr>
                    <th class="row_number">5</th>
                    <td id = "a5" class="chessboard"></td>
                    <td id = "b5" class="chessboard"></td>
                    <td id = "c5" class="chessboard"></td>
                    <td id = "d5" class="chessboard"></td>
                    <td id = "e5" class="chessboard"></td>
                    <td id = "f5" class="chessboard"></td>
                    <td id = "g5" class="chessboard"></td>
                    <td id = "h5" class="chessboard"></td>
                </tr>
                <tr>
                    <th class="row_number">4</th>
                    <td id = "a4" class="chessboard"></td>
                    <td id = "b4" class="chessboard"></td>
                    <td id = "c4" class="chessboard"></td>
                    <td id = "d4" class="chessboard"></td>
                    <td id = "e4" class="chessboard"></td>
                    <td id = "f4" class="chessboard"></td>
                    <td id = "g4" class="chessboard"></td>
                    <td id = "h4" class="chessboard"></td>
                </tr>
                <tr>
                    <th class="row_number">3</th>
                    <td id = "a3" class="chessboard"></td>
                    <td id = "b3" class="chessboard"></td>
                    <td id = "c3" class="chessboard"></td>
                    <td id = "d3" class="chessboard"></td>
                    <td id = "e3" class="chessboard"></td>
                    <td id = "f3" class="chessboard"></td>
                    <td id = "g3" class="chessboard"></td>
                    <td id = "h3" class="chessboard"></td>
                </tr>
                <tr>
                    <th class="row_number">2</th>
                    <td id = "a2" class="chessboard"></td>
                    <td id = "b2" class="chessboard"></td>
                    <td id = "c2" class="chessboard"></td>
                    <td id = "d2" class="chessboard"></td>
                    <td id = "e2" class="chessboard"></td>
                    <td id = "f2" class="chessboard"></td>
                    <td id = "g2" class="chessboard"></td>
                    <td id = "h2" class="chessboard"></td>
                </tr>
                <tr>
                    <th class="row_number">1</th>
                    <td id = "a1" class="chessboard"></td>
                    <td id = "b1" class="chessboard"></td>
                    <td id = "c1" class="chessboard"></td>
                    <td id = "d1" class="chessboard"></td>
                    <td id = "e1" class="chessboard"></td>
                    <td id = "f1" class="chessboard"></td>
                    <td id = "g1" class="chessboard"></td>
                    <td id = "h1" class="chessboard"></td>
                </tr>
            </tbody>
        </table>
        <script type=text/javascript src="{{url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>