.presentation-modal{
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.85);
  text-align: center;
  border-radius: 2px;
}

.presentation-img{
  display: block;
  background: url(../img/chess-1215079_1280.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 720px;
  padding: 100px;

}

.icons-var-index{
  height: 6px;
  margin: 12px auto;
  border-bottom: solid #0c0c0d;
}

.get-started-modal{
  margin: 10px 10px;
}

.lichess-modal{

}

.own-modal{

}

.chess-modal{

}

.chess24-model{

}
