@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
      font-size: 62.5%;
      box-sizing: border-box;
}

body{
    margin: 0;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    font-family: sans-serif;
    color: #333;
    line-height: 1.5;
    height: 100vh;
    position: relative;
    justify-content: center;
    background: linear-gradient(to top left,  #0077ff, #8b8b8b);
    /*background: linear-gradient(to top left, #28b487, #7dd56f);*/
}

.hidden {
  display: none;
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
}


h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

p {
  font-size: 1.8rem;
}

h4 {
    color: #aeb6bf;
}

