@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body{
    font-variant: tabular-nums;
    -webkit-font-feature-settings: 'tnum';
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    height: 100%;
}

header {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    padding-top: 5px;
    padding-bottom: 5px;
    height: 50px;
    display: block;
}

piece{
    position:relative;
    display: block;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.hidden {
  display: none;
}

square{
    width: 100%;
    height: 100%;
}

/*square:nth-child(odd){*/
/*    background-color: rgba(244, 208, 63,0.5);*/
/*}*/

/*square:nth-child(even){*/
/*    background-color: rgba(241, 196, 15,0.5);*/
/*}*/

.cover-container {
  max-width: 42em;
}

.nav{
    float: right;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(0, 0, 0, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(0, 0, 0, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #0c0c0d;
  border-bottom-color: #0c0c0d;
}

footer{
    height: 50px;
}