@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
body{
    margin: 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    background-color: #fbf5ef;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
}
/*.content-wrapper{*/
/*     display: flex;*/
/*}*/
.wrap-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* fraction*/
}
.chess-board {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
    padding: 10px;
}
.chess-board > div {
  text-align: center;
}
.light{
    background-color: #c0c0c0;
}

.dark{
    background-color: #9a9a9a;
}

/*piece {*/

/*}*/