.upgame-modal{
  margin: 20px auto;
  padding: 15px;
  text-align: center;
  border-radius: 2px;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 80vh;
}

.btn-option-upgame{
  font-size: 2rem;
  height: 25%;
  margin: 10px auto;
  cursor: pointer;
}

.btn-option > div{
  border-radius: 10px;
  align-items: center;
}

.btn-option > div:hover{
  box-shadow: 0 0 4px 4px;
}

#btn-chess-com{
  border: solid #7fa650;
  color: #7fa650;
}

#btn-lichess-com{
  border: solid #dbdbdb;
  color: #dbdbdb;
}

#btn-chess24-com{
  border: solid #366BAC;
  color: #366BAC;
}

#btn-own-com{
  border: solid #dc3545;
  color: #dc3545;
}

.token-modal{
  
}