@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

table.chessboard {
    margin: auto auto;
    border-collapse: collapse;
    border-color: #888888;
}
th.column_letter {
    color: #333;
    font-size: 3rem;
    width: 70px; height: 35px;
}

th.row_number {
    color: #333;
    font-size: 3rem;
    width: 35px; height: 70px;
}

td.chessboard {
    width: 70px; height: 70px;
    border: 2px solid #333;
    background: rgb(0.8352941176470589, 0.5647058823529414, 0.12549019607843137);
}