{% extends "layout.html" %}
{% block title %}{{ current_user.username }} - ChessOnlinebase profile{% endblock %}

{% block navbar_a%}
    <a class="navbar-brand" href="{{ url_for('logout') }}">Logout</a>
    <a class="navbar-brand" href="{{ url_for('profile') }}">Profile</a>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="profile-side-bar">
            <div class="media-body">
                <h2 class="account-heading border border">{{ current_user.username }}</h2>
            </div>
        </div>
        <div class="content"></div>
    </div>
{% endblock %}