<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head %}
            <title>{% block title %}{% endblock %}</title>
        {% endblock %}
        <link rel="icon" type="image/jpg" href="https://images.prismic.io/lichess/f54baa80-94ed-4ba1-b42b-afd818ec4b64_Horseybig.png?auto=compress,format"/>
    </head>
<body>

    {% block navbar %} {% endblock %}

    {% block content%}

    {% endblock%}

    {% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {% endblock %}
</body>
</html>