{% extends "layout.html" %}
{% block title %}ChessOnlinebase{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chessboard.css') }}">
{% endblock %}

{% block navbar %}
    <a class="nav-link" aria-current="page" href="/">Home</a>
    <a class="nav-link" href="{{ url_for('account') }}">Account</a>
{% endblock%}

{% block content%}
    <div class="game-text w-50 p-3">
        <div class="game-info">
            <span>{{ gm['White'] }} {{ gm['WhiteElo'] }}</span>
            <span>{{ gm['Result'] }}</span>
            <span>{{ gm['BlackElo'] }} {{ gm['Black'] }}</span>
        </div>
        <div>
            <button class="dropdown-toggle navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
                <span>Information Game</span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExample01">
                <ul class="navbar-nav me-auto mb-2">
                    <li class="text-secondary">Event: {{gm['Event'] }}</li>
                    <li class="text-secondary">Site: {{gm['Site'] }}</li>
                    <li class="text-secondary">Date: {{gm['Date'] }}</li>
                    <li class="text-secondary">Round: {{gm['Round'] }}</li>
                    <li class="text-secondary">ECO: {{gm['ECO'] }}</li>
                    <li class="text-secondary">Opening: {{gm['Opening'] }}</li>
                    <li class="text-secondary">Termination: {{gm['Termination'] }}</li>
                    <li class="text-secondary">TimeControl: {{gm['TimeControl'] }}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="layout-chessboard"></div>
    {% if online %}
    <div class="moves w-50 p-3"></div>
    {% endif %}
{% endblock%}

{% block script %}
    <script type="text/javascript">
        const moves = ( {{ moves|safe }} );
        let movesDiv = document.querySelector('.moves');
        for (let key in moves) {
            let p = document.createElement('DIV');
            p.className = "move";
            movesDiv.appendChild(p);


            let numberMove = document.createElement('DIV');
            numberMove.className = "move-number";
            numberMove.textContent = key;

            let whiteMove =  document.createElement('DIV');
            whiteMove.className = "white-move";

            p.appendChild(numberMove);
            p.appendChild(whiteMove);

            const val = moves[key];
            whiteMove.textContent = val["w"].san;

            if(val.hasOwnProperty("b")){
                let blackMove =  document.createElement('DIV');
                    blackMove.className = "black-move";
                blackMove.textContent = val["b"].san;
                p.appendChild(blackMove);
            }
        }
    </script>
    <script src="{{ url_for('static', filename='js/chessboard.js') }}"></script>
{% endblock %}
