{%extends "layout.html" %}

{% block title %}New Game{% endblock %}

{% block navbar_a %}
    <a class="navbar-brand" href="{{ url_for('account') }}">Account</a>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="wrap-container">
            <div class="container side-bar">
                <h4>Example heading</h4>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="White Player" aria-label="White Player" aria-describedby="basic-addon2">
                    <input type="text" class="form-control" placeholder="Rating" aria-label="Rating" aria-describedby="basic-addon2">
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Black Player" aria-label="Black Player" aria-describedby="basic-addon2">
                    <input type="text" class="form-control" placeholder="Rating" aria-label="Rating" aria-describedby="basic-addon2">
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Event" aria-label="Event" aria-describedby="basic-addon2">
                    <input type="text" class="form-control" placeholder="Time Control" aria-label="Time Control" aria-describedby="basic-addon2">
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Round" aria-label="Round" aria-describedby="basic-addon2">
                    <input type="text" class="form-control" placeholder="Date" aria-label="Date" aria-describedby="basic-addon2">
                </div>
            </div>
            <div class="chess-board">
                <div class="light" id="square-a8">
                    <piece src="{{ url_for('static', filename='piece/chesspieces/wikipedia/bR.png')}}"></piece>
                </div>
                <div class="dark" id="square-b8">
                    <piece src="{{ url_for('static', filename='piece/chesspieces/wikipedia/bN.png')}}"></piece>
                </div>
                <div class="light" id="square-c8">
                    <piece src="{{ url_for('static', filename='piece/chesspieces/wikipedia/bB.png')}}"></piece>
                </div>
                <div class="dark" id="square-d8">
                    <piece src="{{ url_for('static', filename='piece/chesspieces/wikipedia/bQ.png')}}"></piece>
                </div>
                <div class="light" id="square-e8">
                    <piece src="{{ url_for('static', filename='piece/chesspieces/wikipedia/bK.png')}}"></piece>
                </div>
                <div class="dark" id="square-f8">
                    <piece src="{{ url_for('static', filename='piece/chesspieces/wikipedia/bB.png')}}"></piece>
                </div>
                <div class="light" id="square-g8">
                    <piece src="{{ url_for('static', filename='piece/chesspieces/wikipedia/bN.png')}}"></piece>
                </div>
                <div class="dark" id="square-h8">
                    <piece src="{{ url_for('static', filename='piece/chesspieces/wikipedia/bR.png')}}"></piece>
                </div>
                <div class="dark" id="square-a7">
                    <piece src="{{ url_for('static', filename='piece/chesspieces/wikipedia/bP.png')}}"></piece>
                </div>
                <div class="light" id="square-b7">
                    <piece src="{{ url_for('static', filename='piece/chesspieces/wikipedia/bP.png')}}"></piece>
                </div>
                <div class="dark" id="square-c7">
                    <piece src="{{ url_for('static', filename='piece/chesspieces/wikipedia/bP.png')}}"></piece>
                </div>
                <div class="light" id="square-d7">
                    <piece src="{{ url_for('static', filename='piece/chesspieces/wikipedia/bP.png')}}"></piece>
                </div>
                <div class="dark" id="square-e7">
                    <piece src="{{ url_for('static', filename='piece/chesspieces/wikipedia/bP.png')}}"></piece>
                </div>
                <div class="light" id="square-g7">
                    <piece src="{{ url_for('static', filename='piece/chesspieces/wikipedia/bP.png')}}"></piece>
                </div>
                <div class="dark" id="square-f7">
                    <piece src="{{ url_for('static', filename='piece/chesspieces/wikipedia/bP.png')}}"></piece>
                </div>
                <div class="light" id="square-h7">
                    <piece src="{{ url_for('static', filename='piece/chesspieces/wikipedia/bP.png')}}"></piece>
                </div>
                <div class="light" id="square-a6"></div>
                <div class="dark" id="square-b6"></div>
                <div class="light" id="square-c6"></div>
                <div class="dark" id="square-d6"></div>
                <div class="light" id="square-e6"></div>
                <div class="dark" id="square-f6"></div>
                <div class="light" id="square-g6"></div>
                <div class="dark" id="square-h6"></div>

                <div class="dark" id="square-a5"></div>
                <div class="light" id="square-b5"></div>
                <div class="dark" id="square-c5"></div>
                <div class="light" id="square-d5"></div>
                <div class="dark" id="square-e5"></div>
                <div class="light" id="square-f5"></div>
                <div class="dark" id="square-g5"></div>
                <div class="light" id="square-h5"></div>

                <div class="light" id="square-a4"></div>
                <div class="dark" id="square-b4"></div>
                <div class="light" id="square-c4"></div>
                <div class="dark" id="square-d4"></div>
                <div class="light" id="square-e4"></div>
                <div class="dark" id="square-f4"></div>
                <div class="light" id="square-g4"></div>
                <div class="dark" id="square-h4"></div>

                <div class="dark" id="square-a3"></div>
                <div class="light" id="square-b3"></div>
                <div class="dark" id="square-c3"></div>
                <div class="light" id="square-d3"></div>
                <div class="dark" id="square-e3"></div>
                <div class="light" id="square-f3"></div>
                <div class="dark" id="square-g3"></div>
                <div class="light" id="square-h3"></div>

                <div class="light" id="square-a2">
                    <piece src="{{ url_for('static', filename='piece/chesspieces/wikipedia/wP.png')}}"></piece>
                </div>
                <div class="dark" id="square-b2">
                    <piece src="{{ url_for('static', filename='piece/chesspieces/wikipedia/wP.png')}}"></piece>
                </div>
                <div class="light" id="square-c2">
                    <piece src="{{ url_for('static', filename='piece/chesspieces/wikipedia/wP.png')}}"></piece>
                </div>
                <div class="dark" id="square-d2">
                    <piece src="{{ url_for('static', filename='piece/chesspieces/wikipedia/wP.png')}}"></piece>
                </div>
                <div class="light" id="square-e2">
                    <piece src="{{ url_for('static', filename='piece/chesspieces/wikipedia/wP.png')}}"></piece>
                </div>
                <div class="dark" id="square-f2">
                    <piece src="{{ url_for('static', filename='piece/chesspieces/wikipedia/wP.png')}}"></piece>
                </div>
                <div class="light" id="square-g2">
                    <piece src="{{ url_for('static', filename='piece/chesspieces/wikipedia/wP.png')}}"></piece>
                </div>
                <div class="dark" id="square-h2">
                    <piece src="{{ url_for('static', filename='piece/chesspieces/wikipedia/wP.png')}}"></piece>
                </div>
                <div class="dark" id="square-a1">
                    <piece src="{{ url_for('static', filename='piece/chesspieces/wikipedia/wR.png')}}"></piece>
                </div>
                <div class="light" id="square-b1">
                    <piece src="{{ url_for('static', filename='piece/chesspieces/wikipedia/wN.png')}}"></piece>
                </div>
                <div class="dark" id="square-c1">
                    <piece src="{{ url_for('static', filename='piece/chesspieces/wikipedia/wB.png')}}"></piece>
                </div>
                <div class="light" id="square-d1">
                    <piece src="{{ url_for('static', filename='piece/chesspieces/wikipedia/wQ.png')}}"></piece>
                </div>
                <div class="dark" id="square-e1">
                    <piece src="{{ url_for('static', filename='piece/chesspieces/wikipedia/wK.png')}}"></piece>
                </div>
                <div class="light" id="square-f1">
                    <piece src="{{ url_for('static', filename='piece/chesspieces/wikipedia/wB.png')}}"></piece>
                </div>
                <div class="dark" id="square-g1">
                    <piece src="{{ url_for('static', filename='piece/chesspieces/wikipedia/wN.png')}}"></piece>
                </div>
                <div class="light" id="square-h1">
                    <piece src="{{ url_for('static', filename='piece/chesspieces/wikipedia/wR.png')}}"></piece>
                </div>
            </div>
            <div class="game-analysis">
                <div class="moves">

                </div>
            </div>
        </div>
    </div>
{% endblock %}
