{% extends "layout.html" %}
{% block title %}ChessOnlinebase{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block navbar %}
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="{{ url_for('about')}}">About</a>
    {% if current_user.is_authenticated %}
        <a class="nav-link" href="{{ url_for('up_game') }}">Up Game</a>
        <a class="nav-link" href="{{ url_for('account') }}">Account</a>
    {% else %}
        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
        <a class="nav-link" href="{{ url_for('register') }}">Register</a>
    {% endif %}
{% endblock%}

{% block content%}
        <div class="presentation-img mx-auto">
            <div class="presentation-modal w-50 p-3">
                <div class="d-flex justify-content-evenly">
                    <button id="own-btn" type="button" class="row btn btn-danger">Own</button>
                    <button id="lichess-btn" type="button" class="row btn btn-secondary">Lichess</button>
                    <button id="chess-btn" type="button" class="row btn btn-success">Chess</button>
                    <button id="chess24-btn" type="button" class="row btn btn-primary">Chess24</button>
                </div>
                <div class="icons-var-index"></div>
                <div id="own-window">
                    <h1>Own Personal Games</h1>
                    <p class="lead">Up your tornamount games to the web</p>
                    <p class="lead">Own</p>
                </div>
                <div id="lichess-window" class="hidden">
                    <h1>Save your Favorites Games in One Place😍</h1>
                    <p class="lead">ChessOnlineBase is app to save all your online games in one place</p>
                    <p class="lead">Lichess.org</p>
                </div>
                <div id="chess-window" class="hidden">
                    <h1>Save your Favorites Games in One Place😍</h1>
                    <p class="lead">ChessOnlineBase is app to save all your online games in one place</p>
                    <p class="lead">Chess.com/p>
                </div>
                <div id="chess24-window" class="hidden">
                    <h1>Save your Favorites Games in One Place😍</h1>
                    <p class="lead">ChessOnlineBase is app to save all your online games in one place</p>
                    <p class="lead">Chess24.com</p>
                </div>
            </div>
            <div class="get-started-modal">
                <a type="button" class="btn btn-dark" href="{{ url_for('up_game') }}">Get Started!</a>
            </div>
        </div>
{% endblock%}

{% block script %}
    {% if current_user.is_authenticated %}
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    {% endif %}
{% endblock %}