{% extends "layout.html" %}
{% block title %}ChessOnlinebase{% endblock %}

{% block navbar_a %}
    {% if current_user.is_authenticated %}
        <a class="navbar-brand" href="{{ url_for('account') }}">Account</a>
    {% else %}
        <a class="navbar-brand" href="{{ url_for('login') }}">Login</a>
        <a class="navbar-brand" href="{{ url_for('register') }}">Register</a>
    {% endif %}
{% endblock%}

{% block content%}
<div class="container">
    <a href=" {{ url_for('game')}} ">Add lichess.com</a>
    <a class="">Add Chess.com</a>
    <a class="">Add Chess24.com</a>
    <a class="">Own Chess Game</a>
</div>
{% endblock%}