{% extends "layout.html" %}
{% block title %}ChessOnlinebase{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block navbar_a %}
    {% if current_user.is_authenticated %}
        <a class="navbar-brand" href="{{ url_for('account') }}">Account</a>
    {% else %}
        <a class="navbar-brand" href="{{ url_for('login') }}">Login</a>
        <a class="navbar-brand" href="{{ url_for('register') }}">Register</a>
    {% endif %}
{% endblock%}

{% block content%}
    <div class="modal-info">
        <button class="modal-close">&times;</button>
        <h1>By: Leonardo Ortiz López 😍</h1>
        <p>
            This web page is built solely to show evidence of skills,
            it is not intended for implementation or deployment.
        </p>
    </div>
    <div class="overlay"></div>

    {% if current_user.is_authenticated %}
    <div class="item-container">
        <a href=" {{ url_for('lichess_com')}} " class="item" id="btn-chess-com">Chess.com</a>
        <a href=" {{ url_for('chess_com')}} " class="item" id="btn-lichess-com">Lichess.com</a>
        <a href=" {{ url_for('chess24_com')}} " class="item" id="btn-chess24-com">Chess24.com</a>

    </div>
    <div class="item-container">
        <a href=" {{ url_for('chessboard')}} " class="item" id="btn-own-com">Own Chess Game</a>
    </div>
    {% endif %}

{% endblock%}

{% block script %}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}