<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head %}
            <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
<body>
    {% block navbar %}{% endblock %}
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <ul class=flashes>
            {% for category, message in messages %}
                <li>
                    {{ message }}
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% block content%}{% endblock%}
    {% block scripts %}{% endblock %}

</body>
</html>