{% extends "layout.html" %}
{% block title %}ChessOnlinebase{% endblock %}

{% block styles %}

{% endblock %}
{% block navbar_a %}

{% endblock%}

{% block content%}
    <div class="container">
        <p>Lichess.com</p>
        <input class="url_value" type="text" placeholder="Token" />
        <a class="nav_link">OK!</a>
    </div>
{% endblock%}

{% block script %}
<script>
    document.querySelector(".nav_link").addEventListener('click',   function() {
        this.href= `${document.querySelector(".url_value").value}`;
            return false;
    });
</script>
{% endblock %}