@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

table.chessboard {
    margin: auto auto;
    border-collapse: collapse;
    border-color: #888888;
}
/*th.column_letter {*/
/*    color: #333;*/
/*    font-size: 3rem;*/
/*    width: 70px; height: 35px;*/
/*}*/

/*th.row_number {*/
/*    color: #333;*/
/*    font-size: 3rem;*/
/*    width: 35px; height: 70px;*/
/*}*/

td.chessboard {
    width: 30px; height: 30px;
    border: 2px solid #ba2121;
}